<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <%= link_to(root_path, class: "navbar-brand") do %>
        <%= image_tag("sephora-ad-space-logo.png", alt: "Sephora adSpace", height: '30', class:"d-inline-block align-text-top", style: "margin-left: 15px;") %>
      <% end%>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <%= link_to 'Dashboard', dashboard_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Billboards', billboards_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Products', '#', class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
